<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加用户|<{$configcache['Title']}></title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/content.css"  />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/public.css"  />
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/Public.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/winpop.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/check.js"></script>
<script>
$(document).ready(function() {
	$('.button').click(function() {
		var id = $('#id').val(),
            roleid = $('#roleid').val(),
            user_name = $('#user_name').val(),
            password = $('#password').val(),
            repassword = $('#repassword').val(),
            stores = '',
            status = $('#status').val();
        $('.stores').each(function(){
            if($(this).attr('checked')){
                stores +=','+$(this).val();
            }
        });
        if (!tcheck(id,'','用户角色ID获取失败')) { return false; }
		if (!tcheck(roleid,'','用户角色ID获取失败')) { return false; }
		if (!tcheck(roleid,'number','用户角色ID获取失败')) { return false; }
		if (!tcheck(user_name,'','请输入正确的用户名')) { return false; }
		wintq('正在添加，请稍后...',4,20000,0,'');
		$.ajax({
			url:"{:U('Home/Admin/editUser')}",
			dataType:'json',
			type:'POST',
			data:{id:id,roleid:roleid,user_name:user_name,password:password,repassword:repassword,status:status,stores:stores},
			success: function(data) {
				if (data.status==1) {
					wintq(data.info,1,1500,0,'parent');
				}else {
					wintq(data.info,3,1000,1,'');
				}
			}
		});
	});
});
</script>
</head>
<body>
<div id="content">
	<dl id="dl">
        <if condition="$user_info eq 0">
        <dt>数据错误，请刷新页面</dt>
        </if>
    	<dt>添加用户</dt>
        <dd>
        	<span class="dd_left">用户角色：</span>
            <span class="dd_right">
            	<select name="roleid" id="roleid" class="select">
                    <volist name='role_list' id='list'>
                    <option value="{$list.id}" <if condition="$list['id'] eq $user_info['id']">selected</if> >{$list.name}</option>
                    </volist>
                </select><font>* 选择用户角色，分配权限</font>
            </span>
        </dd>
        <dd>
        	<span class="dd_left">用户名：</span>
        	<span class="dd_right"><input type="text" name="user_name" id="user_name" class="qtext" value="{$user_info.user_name}"  /><font>* 2～12位英文数字组合</font></span>
        </dd>
        <dd>
        	<span class="dd_left">密码：</span>
        	<span class="dd_right"><input type="password" name="password" id="password" class="qtext" maxlength="18" /><font>* 留空则不更改密码</font></span>
        </dd>
        <dd>
            <span class="dd_left">确认密码：</span>
            <span class="dd_right"><input type="password" name="repassword" id="repassword" class="qtext" maxlength="18" /><font>* 留空则不更改密码</font></span>
        </dd>
        <dd>
            <span class="dd_left">门店列表：</span>
            <span class="dd_right">
                <foreach name="store_list" item="s_list">
                    <input type="checkbox" name="stores" class="stores" <in name="s_list.id" value="$user_info.stores" >checked</in> value="{$s_list.id}" />{$s_list.store_name}   &nbsp;&nbsp;
                </foreach>
                <font>* 能够管理哪些门店的广告</font>

            </span>
        </dd>
        <dd>
        	<span class="dd_left">状态：</span>
            <span class="dd_right"><label><input type="radio" name="status" id="status" value="0" checked /> 正常</label><label><input type="radio" name="status" value="1" /> 锁定</label></span>
        </dd>
        <input type="hidden" name="id" id="id" value="{$user_info.id}" />
        <dd><input type="button" class="button" value="提 交" /></dd>
    </dl>
</div>
</body>
</html>
