<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>权限管理|<{$configcache['Title']}></title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/content.css"  />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/public.css"  />
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/Public.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/winpop.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/check.js"></script>
<script>
$(document).ready(function() {
    $('#content h2 .add').click(function() {
		popload('添加权限',700,400,"{:U('Home/Rbac/addNode')}");
		addDiv($('#iframe_pop'));
		popclose();
	});

    $('.addChild').click(function(){
        event.preventDefault();
        var url = "{:U('Home/Rbac/addNode','','')}",
            title = $(this).attr('title'),
            pid = $(this).attr('href'),
            level = $(this).attr('level');
        if (!tcheck(level,'number','ID获取失败，请刷新页面')) { return false; }
        if (!tcheck(pid,'number','ID获取失败，请刷新页面')) { return false; }
        url+='/pid/'+pid+'/level/'+level;
        popload('添加权限-['+title+']',700,400,url);
        addDiv($('#iframe_pop'));
        popclose();
    })

	$('#content #table .tr .edit').click(function(event) {
		event.preventDefault();
		var id=$(this).attr('href');		
		if (id=='' || isNaN(id)) {
			wintq('ID参数不正确',3,1000,1,'');
			return false;
		}else {
			popload('修改权限信息',600,300,'__APP__/Competence/cedit/id/'+id);
			addDiv($('#iframe_pop'));
			popclose();
		}
	});
	$('#content #table .tr .del').click(function(event) {
		event.preventDefault();
		if (!confirm('确定要删除该数据吗？')) {
			return false;
		}
		var id=$(this).attr('href');
		if (id=='' || isNaN(id)) {
			wintq('ID参数不正确',3,1000,1,'');
			return false;
		}else {
			wintq('正在删除，请稍后...',4,20000,0,'');
			$.ajax({
				url:'__APP__/Competence/cdel/',
				dataType:'json',
				type:'POST',
				data:'post=ok&id='+id,
				success: function(data) {
					if (data.s=='ok') {
						wintq('删除成功',1,1500,1,'?');
					}else {
						wintq(data.s,3,1500,1,'');
					}
				}
			});
		}
	});
});
</script>
</head>
<body>
<div id="content">
	<h1>首页 > 用户管理 > 权限管理</h1>
    <h2>
    	<div class="h2_left">
        	<a href="__ACTION__" class="whole">全部</a>
        	<a href="javascript:;" class="f5" onclick="f5();">刷新</a>
            <a href="javascript:;" class="add">新增</a>
            <a href="javascript:history.back();" class="Retreat">后退</a>
            <a href="javascript:history.go(1);" class="Advance">前进</a>
        </div>
    </h2>
    <table id="table" border="1" bordercolor="#CCCCCC" cellpadding="0" cellspacing="0">
    	<tr>
        	<th>编号</th>
            <th>权限分类</th>
            <th>权限名称</th>
            <th>权限说明</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        <if condition="$node_list eq 0"><tr class="tr"><td class="tc" colspan="7">暂无数据，等待添加～！</td></tr></if>
        <!--顶级数据-->
        <volist name="node_list" id="list">
        <tr class="tr tr2">
            <td class="tc">{$list.id}</td>
            <td class="tc">{$list.title}</td>
            <td class="tc">{$list.name}</td>
            <td class="tc">{$list.remark}</td>
            <td class="tc">
            <if condition="$list.status eq 1">
            <img src="__PUBLIC__/image/home/yes.png" border="0" title="正常" />
            <else />
            <img src="__PUBLIC__/image/home/no.png" border="0" title="锁定" />
            </if>
            </td>
            <td class="tc fixed_w">
                <a href="{$list.id}" class="addChild" level="{$list.level}" title="添加{$list.title}下级"><img src="__PUBLIC__/image/home/add.png" border="0" title="添加{$list.title}下级" /></a>

            </td>
        </tr>
        <!--二级数据-->
        <volist name="list['_child']" id="child_list">
        <tr class="tr">
            <td class="tc">{$child_list.id}</td>
            <td class="l2">{$child_list.title}</td>
            <td class="l2">{$child_list.name}</td>
            <td class="l2">{$child_list.remark}</td>
            <td class="tc">
            <if condition="$child_list.status eq 1">
            <img src="__PUBLIC__/image/home/yes.png" border="0" title="正常" />
            <else />
            <img src="__PUBLIC__/image/home/no.png" border="0" title="锁定" />
            </if>
            </td>
            <td class="tc fixed_w">
                <a href="{$child_list.id}" class="addChild" level="{$child_list.level}" title="添加{$child_list.title}下级"><img src="__PUBLIC__/image/home/add.png" border="0" title="添加{$child_list.title}下级" /></a>

            </td>
        </tr>

            <!--三级数据-->
            <volist name="child_list['_child']" id="children_list">
                <tr class="tr">
                    <td class="tc">{$children_list.id}</td>
                    <td></td>
                    <td class="l3">{$children_list.name}</td>
                    <td class="l3">{$children_list.remark}</td>
                    <td class="tc">
                        <if condition="$children_list.status eq 1">
                            <img src="__PUBLIC__/image/home/yes.png" border="0" title="正常" />
                            <else />
                            <img src="__PUBLIC__/image/home/no.png" border="0" title="锁定" />
                        </if>
                    </td>
                    <td class="tc fixed_w">

                    </td>
                </tr>
            </volist>
        </volist>
        </volist>
    </table>
    <div id="page">{$page}</div>
</div>
</body>
</html>
